.centeredButton {
	width: 50%;
	height: 75px;
}


.angular-center-container {
	position: fixed;
	top:0;
	left:0;
	height:100%;
	width:100%;
	display:table;
	z-index:9999;
}
.angular-centered {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.lefty {
	text-align: left;
}

.langs {
	text-align: center;
}

.langs > li {
	list-style: none;
	display: inline-block;
	padding: 10px;
	opacity: 0.3;
	filter: grayscale(1);
}

.langs > li.active{
	opacity: 1 !important;
	filter: grayscale(0);
}

.create {
	width: 200px;
	height: 50px;
	background-color: #FF0074; 
	color: #FFFFFF;
	border: 0px !important;

	margin-top: 50px; 
}

.create:hover, .create:active, .create:focus {
	background-color: #FF0074 !important; 
}

#title {
	margin-bottom: 50px;
	color:#FF0074;
	text-transform: uppercase;
}