
<div class="row">
	<centered>
		<h1 id="title">Deploy Project</h1>
		<div class="col-md-2 col-md-offset-2 card card-2">
				<h2>LOCAL</h2>
				<button class="btn btn-success create" ng-click="deploy('local')">Deploy To Local Server</button>
		</div>
		<div class="col-md-2 col-md-offset-1 card card-2">
				<h2>AWS</h2>
				<button class="btn btn-success create" ng-click="deploy('aws')">Deploy To AWS Server</button>
		</div>
		<div class="col-md-2 col-md-offset-1 card card-2">
				<h2>HEROKU</h2>
				<button class="btn btn-success create" ng-click="deploy('heroku')">Deploy To Heroku Server</button>
		</div>
	</centered>
	
</div>



