
<div class="row">
<!-- 	<centered> -->
		<div class="card card-2 col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 ">
			<h1 id="title">API Project</h1>
			<div class="lefty">
				<form name="createProject" autocomplete="on">
				
					<div class="form-group">
						
						<label for="name">Name</label>
						<input type="text" 
							class="form-control" 
							name="name" 
							ng-model="project.name" 
							placeholder="Give your project a unique name!" 
							minlength="3"
							maxlength="40" 
							required />
						<span class="help-block" ng-show="!project.name.length" >* Project Name is required (3-40 chars).</span>
					</div>

					<div class="form-group">
						
						<label for="repo_url">Repository URL</label>
						<input type="text" 
							class="form-control" 
							name="repo_url" 
							ng-model="project.repo_url" 
							placeholder="Repository URL"
							value="http://github.com/"
							required />
						<span class="help-block" ng-show="!project.repo_url.length">* URL is required.</span>
					</div>

					<ul class="langs">
						<li><img src="images/langs/js.png" alt="Node.js"></li>
						<li><img src="images/langs/php.png" alt="PHP"></li>
						<li class="active"><img src="images/langs/python.png" alt="python"></li>
						<li><img src="images/langs/ruby.png" alt="ruby"></li>
					</ul>
					<div class="pull-right">
						<button class="btn btn-primary create"
							ng-disabled="createProject.$invalid || createProject.$pristine || hasErrors"  ng-click="goAndPopulate('/project')">Open Project!</button>
						<button type="submit" class="btn btn-primary create"
							ng-disabled="createProject.$invalid || createProject.$pristine || hasErrors"  ng-click="go('/project')">Create Project!</button>

						
					</div>
				</form>

			</div>
		</div>
	<!-- </centered> -->
</div>



