
<div id="centerVertically">

	<div class="col-sm-5 col-sm-offset-1">
		<form>
			<div class="form-group input-group">
			  <span class="input-group-addon" id="project_name">Project Name</span>
			  <input type="text" class="form-control" placeholder="Give your project a unique name!" aria-describedby="project_name">
			</div>

			<div class="form-group input-group">
			  <span class="input-group-addon" id="project_name">Repository URL</span>
			  <input type="text" class="form-control" placeholder="URL of GitHub Repository" aria-describedby="project_name">
			</div>
		</form>	
	</div>	

	<div class="col-sm-5">
		<button class="btn btn-success centeredButton" ng-click="go('/new')">New Project</button> 
	</div>

</div>
